.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    justify-content: space-between;
    padding: 2px;
    height: 7%;
    border-bottom: 1px solid #3d3d3d;
}

.logoLink {
    height: 80%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logoImg {
    height: 100%;
}
