* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

.App {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
