
@media screen and (max-width: 450px){
    .feedContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .sideBarContainer{
        width: 100%;
        max-width: 100%;
        flex-direction: row;
        overflow-x: auto;
        height: 70px;
    }
    .sideBar{
        flex-direction: row;
        width: 100%;
    }
    .copyright {
        display: none;
    }
    .category-btn {
        margin: 5px;
        width: fit-content;
    }
    .relatedVideosContainer {
        display: none;
    }

}