.videoDetailPageWrapper {
    height: 93%;
    width: 100%
}

.videoDetailContainer {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.videoContainer {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.player {
    margin-bottom: 5px;
}

.descriptionContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.channelVideoTitleContainer {
    flex: 0.8
}

.videoName {
    color: white;
    font-weight: bold;
    padding: 0 5px;
}

.videoChannelLink {
    color: white;
    text-decoration: none;
}

.videoChannelLink  h5 {
    padding-left: 5px;
}

.statisticsContainer {
    width: 15%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statisticsContainer small {
    color: white;
    margin-right: 5px;
}

.likesCaption {
    background-color: dimgray;
    border: none;
    border-radius: 3px;
    outline: none;
}

.likesCaption:hover {
    background-color: darkgray;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.relatedVideosContainer {
    overflow-y: auto;
    margin: 20px;
}

.commentsLabel {
    color: white;
    font-size: 40px;
    margin: 15px;
}

.commentsContainer {
    height: auto;
}
